@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans Narrow'),
         local('PTSans-Narrow'),
         url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4SXGGgjhbil4nYG1ct5o924.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4Z4t0mJKPaLVqklzZuc32b4.woff) format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: local('Oswald Bold'),
         local('Oswald-Bold'),
         url(https://fonts.gstatic.com/s/oswald/v11/bH7276GfdCjMjApa_dkG6ZBw1xU1rKptJj_0jans920.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/oswald/v11/bH7276GfdCjMjApa_dkG6bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
    margin: 0;
    border-top: 8px solid #F60;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 200%;
    text-align: center;
    overflow: hidden;
}

body::before,
body::after,
body > main::before,
body > main::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 160px;
    height: 80px;
    background-image: url('images/dekoration.png');
    background-size: contain;
    background-repeat: no-repeat;
}

body::before {
    top: 24px;
    left: -24px;
    transform: rotate(-45deg);
}

body::after {
    top: 24px;
    right: -24px;
    transform: rotate(45deg);
}

body > main::before {
    bottom: 24px;
    left: -24px;
    transform: rotate(-135deg);
}

body > main::after {
    bottom: 24px;
    right: -24px;
    transform: rotate(135deg);
}

body > h1 {
    margin: 0;
    text-align: center;
}

body > h1 > img,
body > h1 > svg {
    position: relative;
    z-index: 1;
    width: 528px;
    height: 228px;
}

@media (max-width: 640px), (max-height: 480px) {
    body > h1 > img,
    body > h1 > svg {
        width: 264px;
        height: 114px;
    }
}

main {
}

main > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

@media (max-height: 480px) {
    main > div:not(.slide) {
        top: 66%;
    }
}

main > div:not(.active) {
    display: none;
}

main > .slide {
    height: 100%;
    z-index: 1;
}

main > .slide > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: white;
}


#arrival h2,
#arrival h3 {
    margin: 0;
}

#arrival img {
    width: 15%;
    height: auto;
    border-radius: 15px;
    box-shadow: 6px 6px 12px 6px rgba(0, 0, 0, 0.15);
    animation: pop-in 0.5s cubic-bezier(0.4, 2, 0.4, 0.6) both;
}

#arrival span,
#departure span {
    color: #2d88a6;
    font-size: 110%;
}

#departure img {
    height: 23px;
    background-color: #09C;
    padding: 3px;
    vertical-align: middle;
}

.number {
    font-family: Oswald, sans-serif;
    display: inline-block;
    color: #348FAD;
}

.number + .number {
    margin-left: 10%;
}

.number > h3 {
    font-size: 6.5rem;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    animation: wave-number 4s ease-out infinite alternate;
}

.number:nth-of-type(2) > h3 {
    animation-delay: -7s;
}

.number:nth-of-type(3) > h3 {
    animation-delay: -6s;
}

.number > span {
    color: #595959;
    font-weight: 100;
    font-size: 60%;
}


@keyframes wave-number {
    0% {
        transform: scale(1) translateY(0px);
        z-index: 1;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    }

    100% {
        transform: scale(1.8) translateY(-40px);
        z-index: 1000;
        text-shadow: 28px 28px 22px rgba(0, 0, 0, 0.4);
    }
}

@keyframes pop-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes wave-scale {
    0% {
        transform: scale(1);
        z-index: 1;
    }

    100% {
        transform: scale(2);
        z-index: 1000;
    }
}

@keyframes wave-x-left {
    0% {
        left: -27vw;
    }

    100% {
        left: 27vw;
    }
}

@keyframes wave-y-top {
    0% {
        top: -27vh;
    }

    100% {
        top: 27vh;
    }
}

@keyframes wave-x-margin {
    0% {
        margin-left: -14vw;
    }

    100% {
        margin-left: 14vw;
    }
}

@keyframes wave-y-margin {
    0% {
        margin-top: -14vh;
    }

    100% {
        margin-top: 14vh;
    }
}

ol {
    text-align: left;
    display: inline-block;
    margin: 0;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul   > li {
    position: absolute;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    animation:
        wave-scale    ease-in-out infinite alternate,
        pop-in cubic-bezier(0.4, 4, 0.5, -0.5) backwards,
        wave-x-left   ease-in-out infinite alternate,
        wave-x-margin ease-in-out infinite alternate-reverse,
        wave-y-top    ease-in-out infinite alternate,
        wave-y-margin ease-in-out infinite alternate-reverse;
}

#mulled_wine > ul > li {
    background-image: url('images/pink-ball-mulled_wine.png');
}

#drink > ul > li {
    background-image: url('images/green-ball-drink.png');
}

#food > ul > li {
    background-image: url('images/blue-ball-food.png');
}

#coffee > ul > li {
    background-image: url('images/silver-ball-coffee.png');
}

#attendance > ul > li {
    background-image: url('images/gold-ball-ginger.png');
}

#attendance > ul > li.departed,
#attendance > ul > li.departed ~ li {
    opacity: 0.5;
}


#notification {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    border: 1px solid black;
    background-color: #FFa;
    padding: 10px;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 0.2s linear, transform 0.2s linear;
    transform: translateY(0%);
}

#notification:not(.active) {
    transition: opacity 0.8s linear, transform 0s linear 1s;
    opacity: 0;
    transform: translateY(-200%);
}
