@keyframes wave-scale {
    0% {
        transform: scale(1);
        z-index: 1;
    }

    100% {
        transform: scale(2);
        z-index: 1000;
    }
}

@keyframes wave-x-left {
    0% {
        left: -27vw;
    }

    100% {
        left: 27vw;
    }
}

@keyframes wave-y-top {
    0% {
        top: -27vh;
    }

    100% {
        top: 27vh;
    }
}

@keyframes wave-x-margin {
    0% {
        margin-left: -14vw;
    }

    100% {
        margin-left: 14vw;
    }
}

@keyframes wave-y-margin {
    0% {
        margin-top: -14vh;
    }

    100% {
        margin-top: 14vh;
    }
}

@keyframes wave-number {
    0% {
        transform: scale(1) translateY(0px);
        z-index: 1;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    }

    100% {
        transform: scale(1.8) translateY(-40px);
        z-index: 1000;
        text-shadow: 28px 28px 22px rgba(0, 0, 0, 0.4);
    }
}

main > .items {
    > .number {
        font-family: Oswald, sans-serif;
        display: inline-block;
        color: #348FAD;

        + .number {
            margin-left: 10%;
        }

        > h3 {
            font-size: 6.5rem;
            font-weight: 700;
            margin: 0;
            line-height: 1;
            animation: wave-number 4s ease-out infinite alternate;
        }

        &:nth-of-type(2) > h3 {
            animation-delay: -7s;
        }

        &:nth-of-type(3) > h3 {
            animation-delay: -6s;
        }

        > span {
            color: #595959;
            font-weight: 100;
            font-size: 60%;
        }
    }

    > ul {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        padding: 0;

        > li {
            position: absolute;
            width: 32px;
            height: 32px;
            list-style: none;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.8;
            animation:
                wave-scale    ease-in-out infinite alternate,
                pop-in cubic-bezier(0.4, 4, 0.5, -0.5) backwards,
                wave-x-left   ease-in-out infinite alternate,
                wave-x-margin ease-in-out infinite alternate-reverse,
                wave-y-top    ease-in-out infinite alternate,
                wave-y-margin ease-in-out infinite alternate-reverse;
        }
    }

    &#mulled_wine > ul > li {
        background-image: url('../images/pink-ball-mulled_wine.png');
    }

    &#drink > ul > li {
        background-image: url('../images/green-ball-drink.png');
    }

    &#food > ul > li {
        background-image: url('../images/blue-ball-food.png');
    }

    &#coffee > ul > li {
        background-image: url('../images/silver-ball-coffee.png');
    }

    &#attendance > ul > li {
        background-image: url('../images/gold-ball-ginger.png');

        &.departed,
        &.departed ~ li {
            opacity: 0.5;
        }
    }
}
